@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #021526;
  color: #EEEEEE;
}

.card{
  position: relative;
}

.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: 300ms all ease-in;
}

.card .back {
  transform: rotateY(0deg);
  transition: 300ms all ease-in;

}

.rotated .front{
  transform: rotateY(0deg);

}

.rotated .back{
  transform: rotateY(90deg);

}
.timer {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
}

.best-time {
  font-size: 1rem;
  color: #FFD700; /* Altın renginde */
}
